.labelled_input_field > input {
    @apply  
        block 
        min-h-[auto] 
        w-full 
        rounded 
        border 
        bg-transparent 
        px-3 
        py-[0.32rem] 
        leading-[1.6] 
        outline-none 
        transition-all 
        duration-200 
        ease-linear 
        focus:placeholder:opacity-100 
        data-[te-input-state-active]:placeholder:opacity-100 
        motion-reduce:transition-none 
        dark:placeholder:text-neutral-200 
        [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0
}

.labelled_input_field > label {
    @apply
        pointer-events-none 
        absolute 
        left-3 
        top-0 
        mb-0 
        max-w-[90%] 
        origin-[0_0] 
        truncate 
        pt-[0.37rem] 
        leading-[1.6] 
        text-neutral-500  
        dark:text-neutral-200 
}